### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [104]:
totalplayers = purchase_data["SN"].nunique()
totalplayers

576

In [11]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
unique = purchase_data["Item ID"].nunique()
unique

179

In [16]:
average = purchase_data["Price"].mean()
average

3.050987179487176

In [19]:
number_purchases = purchase_data["Purchase ID"].count()
number_purchases

780

In [20]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [26]:
summary_df = pd.DataFrame({
    "Number of Unique Items": [179],
    "Average Price": [3.05],
    "Number of Purchases": [780],
    "Total Revenue": [2379.77],
})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
print(purchase_data['Gender'].value_counts()['Male'])
print(purchase_data['Gender'].value_counts()['Female'])

652
113

In [97]:
percentmale = (purchase_data['Gender'].value_counts()['Male']) /780 *100
percentfemale = (purchase_data['Gender'].value_counts()['Female']) /780 *100

print(percentmale)
print(percentfemale)

83.58974358974359
14.487179487179489


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
genderanalysis = purchase_data.groupby('Gender')
genderanalysis.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,20-24
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,15-19
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,20-24
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,20-24

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [108]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

purchase_data["Age Ranges"]

count = purchase_data["Age Ranges"].value_counts()


percentage = count/totalplayers *100 
percentage

age_df = pd.DataFrame({
    "Number of Players": count,
    "Percentage": percentage
})

age_df

       Number of Players  Percentage
20-24                365   63.368056
15-19                136   23.611111
25-29                101   17.534722
30-34                 73   12.673611
35-39                 41    7.118056
10-14                 28    4.861111
<10                   23    3.993056
40+                   13    2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

purchasecount = purchase_data["Age Ranges"].valuecount()

purchasecount

AttributeError: 'Series' object has no attribute 'valuecount'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
topspenders_df = purchase_data.sort_values("Price", ascending=False)
topspenders_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,20-24
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,10-14
...,...,...,...,...,...,...,...,...
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,20-24
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,20-24
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,20-24
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Ranges'],
      dtype='object')

In [127]:
purchase_data.groupby["Item ID", "Item Name"]

TypeError: 'method' object is not subscriptable

In [85]:
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
popular_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [90]:
averageprice = purchase_data["Price"].mean()
averageprice

3.050987179487176

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [128]:
profitable_df = abovetable.sort_values("Total Purchase Value", ascending=False)

NameError: name 'abovetable' is not defined